<%= stylesheet_link_tag "table" %>
<!--
<link rel="shortcut icon" href="https://static.velog.io/favicon.ico"/>
<link rel="apple-touch-icon" sizes="152x152" href="https://static.velog.io/favicons/apple-icon-152x152.png"/>
<link rel="icon" sizes="32x32" href="https://static.velog.io/favicons/favicon-32x32.png"/>
<link rel="icon" sizes="96x96" href="https://static.velog.io/favicons/favicon-96x96.png"/>
<link rel="icon" sizes="16x16" href="https://static.velog.io/favicons/favicon-16x16.png"/>
-->

<script>

    var clockTarget = document.getElementById("clock");

    function clock() {
        var date = new Date();
        // date Object를 받아오고
        var month = date.getMonth();
        // 달을 받아옵니다
        var clockDate = date.getDate();
        // 몇일인지 받아옵니다
        var day = date.getDay();
        // 요일을 받아옵니다.
        var week = ['일', '월', '화', '수', '목', '금', '토'];
        // 요일은 숫자형태로 리턴되기때문에 미리 배열을 만듭니다.
        var hours = date.getHours();
        // 시간을 받아오고
        var minutes = date.getMinutes();
        // 분도 받아옵니다.
        var seconds = date.getSeconds();
        // 초까지 받아온후
        clockTarget.innerText = `스터디용 페이지 ${month+1}월 ${clockDate}일 ${week[day]}요일` +
            `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes }`  : minutes }:${seconds < 10 ? `0${seconds }`  : seconds }`;
        // 월은 0부터 1월이기때문에 +1일을 해주고
        // 시간 분 초는 한자리수이면 시계가 어색해보일까봐 10보다 작으면 앞에0을 붙혀주는 작업을 3항연산으로 했습니다.
    }

    function init() {
        clock();
        setInterval(clock, 1000);
    }

    init();
</script>

<span id="clock">테스트</span><br>
<table class="styled-table">
  <thead>
    <tr>
      <th>제목</th>
      <th>내용</th>
      <th>작성일</th>
      <th></th>
    </tr>
  </thead>
  <% modifyImg = 'https://p.kindpng.com/picc/s/399-3998576_computer-gear-grey-gui-icon-menu-options-os.png' %>
  <% deleteImg = 'https://www.kindpng.com/picc/m/67-679412_x-cross-close-symbol-icon-button-gui-grey.png' %>
  <% if @posts.empty? %>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  <% else %>
    <% @posts.each do |post| %>
      <tbody>
        <tr>
          <td class="first"><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= post.created_at.localtime.strftime("%Y-%m-%d %H:%M") %></td>
          <td>
            <a href="/modify/<%=post.id%>"> <img width="15" height="15" src="<%= modifyImg %>"></a> &nbsp;
            <a href="/delete/<%=post.id%>"> <img width="15" height="15" src="<%= deleteImg %>"></a>
          </td>
        </tr>
      </tbody>
    <% end %>
<% end %>
</table>

<a href="/write">글 쓰러 가기</a>